<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
  		<ion-back-button icon="arrow-back-outline" defaultHref="/homenew"></ion-back-button>
  	</ion-buttons>
    <ion-title>Faq</ion-title>
  <!-- <ion-icon slot="end" class="search_item" name="search-outline"></ion-icon> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="terms-title">
    <h5>FAQ’s</h5>
  </div>
  <div class="bodycontent">
    <ul>
      <li>
        <b>1. Why am I not able to place order for alcoholic beverages? </b>
        As per State Excise Law alcoholic product sale is prohibited, on your selected date. Please order for another day.
      </li>
      <li>
        <b>2. What is a Unit?</b>
        Why am I not able to order more than 40 units per order? Prices at outlet are attractively priced based on demand supply module. So each transaction is capped for benefit of all our customers, rather than the price benefit being lapped by only few.
      </li>
      <li>
        <span>Units Capping</span>
        You can order up to maximum of 40 units per order. Your maximum unit order per brand in each category is capped as detailed below table.<br/>
        In general, Each Unit for any Scotch, Whisky, Single Malt, Vodka, Rum, Gin, Tequila, and Liqueur is 30 ounce. For Any Beers each unit is 330 ounce, for Wine & Champagne each unit is 150 ounce and Low Alcoholic Beverages are 275 ounce.
      </li>
      <li>
        Detailed   units capping category wise is as under 
        <table class="table">
          <tr>
            <th>Category</th>
            <th>Units per Brand</th>
            <th>Each Unit</th>
          </tr>
          <tr>
            <td>Premium Scotch and American Scotch</td>
            <td>10</td>
            <td>30ounce</td>
          </tr>
          <tr>
            <td>Regular Scotch Whisky</td>
            <td>10</td>
            <td>30ounce</td>
          </tr>
          <tr>
            <td>Scotch Whisky</td>
            <td>10</td>
            <td>30ounce</td>
          </tr>
          <tr>
            <td>Premium Scotch Whisky</td>
            <td>10</td>
            <td>30ounce</td>
          </tr>
          <tr>
            <td>Premium Single Malt & American Whisky</td>
            <td>10</td>
            <td>30ounce</td>
          </tr>
          <tr>
            <td>Single Malt</td>
            <td>10</td>
            <td>30ounce</td>
          </tr>
          <tr>
            <td>Indian Whisky</td>
            <td>10</td>
            <td>30ounce</td>
          </tr>
          <tr>
            <td>Premium Imported Vodka</td>
            <td>10</td>
            <td>30ounce</td>
          </tr>
          <tr>
            <td>Imported Vodka</td>
            <td>10</td>
            <td>30ounce</td>
          </tr>
          <tr>
            <td>Flavored Vodka</td>
            <td>10</td>
            <td>30ounce</td>
          </tr>
          <tr>
            <td>Indian Vodka</td>
            <td>10</td>
            <td>30ounce</td>
          </tr>
          <tr>
            <td>Liqueur</td>
            <td>10</td>
            <td>30ounce</td>
          </tr>
          <tr>
            <td>Rum</td>
            <td>10</td>
            <td>30ounce</td>
          </tr>
          <tr>
            <td>Tequila</td>
            <td>10</td>
            <td>30ounce</td>
          </tr>
          <tr>
            <td>Imported Wine</td>
            <td>10</td>
            <td>150ounce</td>
          </tr>
          <tr>
            <td>Indian Wine</td>
            <td>10</td>
            <td>150ounce</td>
          </tr>
          <tr>
            <td>Champagne & Sparklings</td>
            <td>2</td>
            <td>750ounce</td>
          </tr>
          <tr>
            <td>Indian Beer</td>
            <td>10</td>
            <td>330ounce</td>
          </tr>
          <tr>
            <td>Premium Indian Beer</td>
            <td>10</td>
            <td>330ounce</td>
          </tr>
          <tr>
            <td>Imported Beer</td>
            <td>10</td>
            <td>330ounce</td>
          </tr>
          <tr>
            <td>Gin</td>
            <td>10</td>
            <td>30ounce</td>
          </tr>
          <tr>
            <td>Low Alcoholic Beverages</td>
            <td>10</td>
            <td>275ounce</td>
          </tr>
        </table>
      </li>
      <li>
        <b>3. I placed an order, now want to reschedule it?</b>
        Go to My orders, select your Active order & press the reschedule button. You can reschedule your order only ONCE for a fee. Rescheduled orders cannot be cancelled or modified. You can only reschedule your order 4 hours prior to your scheduled arrival time.
      </li>
      <li>
        <b>4. What is a Transaction fee?</b>
        Liquidity charges a transaction fee based on your order value per order.
      </li>
      <li>
        <b>5. What are the cancellation charges?</b>
        If you cancel within 15 Minutes of your order, no cancellation fee is applicable. In case you decide to cancel after 15minutes until 1 hour of your arrival time , 25 % of the Net bill value .
        <br/>
        In case you decide to cancel, less than 1 hour of your scheduled time, 50 % of the order value is deducted.<br/>
        No Refund is allowed, if order is cancelled within 30 minutes of your arrival time .
      </li>
      <li>
        <b>6. How do i get my Refund amount?</b>
        We have specially created a Liquidity wallet. All your Refunds are credited to your Liquidity wallet immediately.<br/> 
        When you order the next time, first the amount from your Wallet is used towards payment of your order.<br/> 
        On my arrival at the Outlet, what procedure is to be followed?<br/> 
        Please note, outlets have Gate and Dress polices, which differ from outlet to outlet. Please choose filters accordingly.<br/> 
        As you arrive at the outlet, please show your email and your Unique Delivery code to the outlet representative, to enable the outlet to serve you.
      </li>
      <li>
        <b>7. I am unable to Reserve a table with my order?</b>
        Certain outlets does not provide Table reservation. You may select only the outlets with Table reservation facility though the Filter button .<br/>
        But as you have placed an order through Liquidity , the outlet will provide table on priority basis to you ,upon your arrival.
      </li>
      <li>
        <b>8. I reserved a table , outlet didn’t have it available upon my arrival ?</b>
        Some Outlets provide the facility of Reserving the table with Minimum Billing amount per person  .At time of placing of the order, please indicate number of guests accompanying, to enable the outlet to reserve the table for you .<br/>
        To ensure that the reserved table is provided to you on your arrival , you are requested to arrive at your scheduled time, failing which the outlet may not be able to immediately provide you with the table and under this circumstances only the next available table with be provided to you . <br/>
        For your Table reservation, you are allowed a grace time of 15 minutes between your scheduled arrival time and actual arrival time . Outlet might ,at its sole discretion , extend you  the courtesy of some more grace time for your arrival beyond the scheduled  time, upon receipt of your specific request by them .<br/>
        The grace time but cannot be beyond the closing time of the outlet, or the last alcohol service time, whichever is earlier .
      </li>
      <li>
        <b>9. Why does Prices of Alcoholic beverages keep changing ?</b>
        We have a unique algorithm , which works on demand and supply mechanism . Thus with every order placed , the prices keeps changing .<br/>
        Order early in the day to get the best possible price .You may also compare the prices of your favorite drink, outlet wise in your city ,before placing your order .
      </li>
      <li>
        <b>10. What is an ordering time ?</b>
        You can order anytime between 11.30 am to 11.30 pm for consumption between today, tomorrow and day after .<br/>
        In case of last minute order, please ensure that you finish your drinks within the outlets stipulated time of consumption .<br/>
        Also please allow the outlet sometime for servicing and preparing of your food, in case you have ordered for immediate consumption.<br/>
        Food is always prepared fresh upon your arrival ,so please allow the outlet the time to prepare your selection .<br/>
      </li>
      <li>
        <b>11. Can I delete my order History?</b>
        You can fully or partially delete your order history. Go to order History select the order you want to delete or select all to delete full history.
      </li>
      <li>
        <b>12. Can I mute the notification/delete notification?</b>
        Yes. You can mute the notification to appear only on the notification bar & you may delete all notifications by selecting delete all from the notification option.
      </li>
      <li>
        <b>13. I ordered for a particular brand & outlet didn’t have it available upon by arrival?</b>
        Liquidity works with participating outlet, purely on guarantee that listed products in all categories are made available when a customer books the same. On alcoholic products, our system stops accepting orders if the quantity fall below desired levels. In case of an unlikely event of your chosen product being not available, the outlet will offer you selection of either similar or one grade higher product. If you are unsatisfied with the alternative choices being offered, you may claim a REFUND.<br/>
        For claiming REFUND, please go to the HELP section & claim your refund.

      </li>
    </ul>
  </div>
</ion-content>
