ion-content {
	--background: #eceff1;

	.resturant_img_wrap {
	    margin-bottom: 0;
        background-color: #fff;
        padding: 10px;

        img {
        	width: 100%;
        }
	}

	.br-1 {
		margin: 11px 0 15px;
	}
}