<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Searchbar</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <!-- <ion-searchbar [(ngModel)]="txt" (ionInput)="search()"></ion-searchbar> -->
    <ion-row>
      <ion-col size="12" class="search_input">
        <ion-input type="text" [(ngModel)]="txt" ></ion-input>
        <span (click)="search()">
          <ion-icon name="search-outline"></ion-icon>
        </span>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list *ngIf="searchHistory && searchHistory.length>0">
    <ion-item *ngFor="let item of searchHistory">
      <span (click)="oldSearch(item.keyword)">{{item.keyword}}</span>
      <span slot="end">
        <ion-icon name="close-outline" (click)="delete(item.id)"></ion-icon>
      </span>
    </ion-item>   
  </ion-list>

  <ion-list *ngIf="products1 && products1.length>0">
    <ion-item *ngFor="let item of products1" (click)="gotoSearchDetails(item)">{{item.name}}
      <!-- <span slot="end" (click)="gotounsave(fav.id)">
        <ion-icon name="heart"></ion-icon>
      </span> -->
    </ion-item>
  </ion-list>
  <div  *ngIf="shopList && shopList.length>0">
    <h5>Stores</h5>
    <ion-item *ngFor = "let shop of shopList">
      <ion-thumbnail slot="start">
        <ion-img src="{{shop.image}}"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h4 class="shopTitle"><strong (click)="gotoshopproduct(shop.id,shop)">{{shop.name}}</strong>
          <span (click)="save(shop.id,shop.is_in_watchlist)">
            <ion-icon name="bookmark-outline" *ngIf="shop.is_in_watchlist==0"></ion-icon>
            <ion-icon name="bookmark" class="active" *ngIf="shop.is_in_watchlist==1"></ion-icon>
          </span>
        </h4>
        <p (click)="gotoshopproduct(shop.id,shop)">{{shop.address}}</p>
        <div class="distance_sec">
          <p >
            <small><ion-icon name="compass-outline"></ion-icon>
              {{shop.distance}}</small>
            <small><ion-icon name="time-outline"></ion-icon> {{shop.time}}min</small>
          </p>
        </div>
      </ion-label>
    </ion-item>
  </div>
</ion-content>