<ion-app>
  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content" type="overlay"  menuId="content">
      <ion-content>
        <div class="menu__header">
          <div class="user__image">
            <img src="assets/user.jpg" />
          </div>
          <h6>{{user_name}}</h6>
          <p>{{user_mail}}</p>
          
          <a class="menu__button" (click)="editProfile()"><ion-icon name="pencil-sharp" (click)="editProfile()"></ion-icon> Edit Profile</a>
          <a class="menu__button" (click)="wallet()">Test Fund: <span class="currency">$</span> {{wallet_balance | number : '.2-2'}}</a>
        </div>
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>
</ion-app>


<!-- <ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="reveal" side="start" (ionWillOpen)="openMenu()">
      <ion-content>
        <ion-card routerLink="/profile" routerDirection="root">
          <ion-item class="name-card">
            <ion-avatar slot="start">
              <img src="assets/user.jpg" />

            </ion-avatar>
            <ion-label>
              <h6>{{user_name}}</h6>
              <p>{{user_mail}}</p>
            </ion-label>
          </ion-item>
        </ion-card>
        
        <ion-list id="inbox-list" >
          <ion-menu-toggle auto-hide="false" *ngFor="let p of manuList; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
      <ion-footer>
        <ion-toolbar>
          <ion-item (click)="logOut()">
            <ion-icon slot="start" name="power"></ion-icon>
            <ion-label>
              Log Out
            </ion-label>
          </ion-item>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app> -->



<!-- <ion-app>
  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content" type="overlay">

      <ion-content>

        <ion-list id="inbox-list">
          <ion-list-header>cccInbox</ion-list-header>
          <ion-note>hi@ionicframework.com</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none"
              detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list>

      </ion-content>

    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>
</ion-app> -->