
<ion-content>
	<div class="resturant_img_wrap">
		<ion-buttons slot="start">
      		<ion-back-button icon="arrow-back-outline" defaultHref=""></ion-back-button>
      	</ion-buttons>
		<img src="assets/img-4.png">
	</div>
	<div class="order_feedback ion-padding">
		<h3 class="heading">Order successfully placed at Orko’ss Restaurant</h3>
		<p class="content">The order was placed on 29/01/2018 at 04:30 pm.</p>
		<div class="br-1"></div>
		<h3 class="heading ion-text-center">Please Rate Your Experience</h3>
		<ul class="rating">
			<li class="active"><ion-icon name="star"></ion-icon></li>
			<li class="active"><ion-icon name="star"></ion-icon></li>
			<li class="active"><ion-icon name="star"></ion-icon></li>
			<li><ion-icon name="star"></ion-icon></li>
			<li><ion-icon name="star"></ion-icon></li>
		</ul>
		<!-- <ion-button class="btn-continue btn-continue-mod" shape="round" routerLink="/main" routerDirection="forward">SUBMIT RATING</ion-button> -->
		<ion-list class="link_wrapper">
			<ion-item>
	          	<ion-icon slot="end" name="chevron-forward"></ion-icon>
	          	<ion-label>
	          		<img slot="start" src="assets/cart.png">
	          		View Order Summary
	          	</ion-label>
	        </ion-item>
	        <ion-item>
	          	<ion-icon slot="end" name="chevron-forward"></ion-icon>
	          	<ion-label>
	          		<img slot="start" src="assets/support.png">
	          		Need help? Contact Liquidity Support
	          	</ion-label>
	        </ion-item>
	    </ion-list>
	</div>
</ion-content>

