<ion-header>
  <ion-toolbar>
    <ion-title>outlethomecompare</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="false">
    <ion-slide>
      <img src="assets/img-4.png">
    </ion-slide>
    <ion-slide>
      <img src="assets/img-4.png">
    </ion-slide>
    <ion-slide>
      <img src="assets/img-4.png">
    </ion-slide>
  </ion-slides>

  <div class="outlet_details">
    <span>4.0</span>
    <h2>Orko'ss Restaurant</h2>
    <p>E Block, 306, 307, Level 3, Kolkata, Welt Bengal-700121</p>

    <hr />

    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <a href="#">Contact Outlet</a>
        </ion-col>
        <ion-col size="6">
          <a href="#">View house rules</a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="outlet_details">
    <span class="off_text">10% off</span>
    <p class="large">Get 10% off on all online orders placed through Liquidity above $ 1000</p>
    <h6>Auto applied during checkout</h6>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <a href="#">View online ordering menu <ion-icon name="chevron-forward-sharp"></ion-icon></a>
  </ion-toolbar>
</ion-footer>
