<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" defaultHref="/homenew"></ion-back-button>
    </ion-buttons>
    <ion-title>Events</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
<div class="slide_item slide_item--mod-2">
  <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let item of events" (click)="gotoEventDetails(item)">
            <div class="slide_box" >
                <div class="img_wrap" style="background: url({{item.image}}) no-repeat center; background-size: cover;"></div>
                <div class="box_content">
                  <h2>{{item.title}}</h2>
                  <p>{{item.event_place}}</p>
                </div>
            </div>
        </ion-col>
      </ion-row>
  </ion-grid>
</div>
</ion-content>