.segment_2 ion-segment{
    padding: 0 !important;
}
.liquor_items {
    padding: 0;

    ion-item {
        --padding-start: 5px;
        --inner-padding-end: 5px;
    }
}
.drink_content {
    h3 {
        font-size: 16px;
        font-weight: 900;
    }
    &.drink_content--mod {
        justify-content: flex-end;
    }
}
.drink_content.drink_content--mod {
    justify-content: flex-end;
}
.drink_content .unit_category{

    ion-item {
        --min-height: 32px;
        --inner-border-width: 0;
        --inner-box-shadow: none;
        --border-width: 0;
        --box-shadow: none;

        ion-button {
            margin: 0;
        }
    }
    ion-col {
        --ion-grid-column-padding: 0;

        .button {
            --box-shadow: none;
            border: 2px solid #be9d4e;
            --background: rgba(0,0,0,0);
            --color: #000;
            height: 32px;
            border-radius: 4px;
            margin-left: 5px;
        }

        .item-has-value {
            ion-select {
                background: #be9d4e;
                color: #fff;
            }
        }
    }
    select {
        border: 2px solid #dcc88d;
        font-size: 12px;
        font-weight: 600;
        color: #dcc88d;
        height: 32px;
        border-radius: 4px;
        background: #fff;
        width: 100%;
        padding-top: 4px;
    }
    ul{
            width: calc(100% - 5px);
            background: #e5e5e5;
            margin: 0 5px 0 0;
            height: 32px;
        li{
            border-right: 1px solid #888;

            &:last-child {
                border: none;
            }

            label{
                display: flex;
                flex-direction: column;
                font-weight: 900;

                span{
                    padding-top: 2px;
                    margin-left: 2px ;
                    margin-top: 0px;
                }
            }
        }
    }
    .p-price{
        width: 100% !important;
        ul{
            li{
                label{
                    font-size: 11px !important;
                }
            }
        }
    }
    
}

.note{
    p{
        padding: 5px 16px;
        margin-bottom: 0;
        font-weight: 600;
        color: #aaaaaa;
        font-size: 11px;
        span{
            color: #ff0000;
            font-size: 15px !important;
            margin-right: 2px;
        }
    }
}
.cardAdd{
    ion-button{
        font-size: 11px;
        font-weight:600;
        box-shadow: none !important;
        color: #000;
        text-transform: capitalize;
        margin-top: 30px;
        height: 30px;
        img{
            margin-right: 5px;
            vertical-align: middle;
        }
    }
}
.liquor_items{
    ion-thumbnail{
        margin-inline-end: 6px !important;
        
    }
}
.liquor_items .item .drink_content .unit_category ul li label{
    font-size: 11px !important;
}
.liquor_items .item .drink_content .unit_category ul li {
    display: inline-block;
    width: calc(100% / 2) !important;
}

ion-title{
	padding: 0px;
	.appbar_title{
		font-size: 20px;
		color: #000;
		font-weight: 600;
		text-transform: uppercase;
	}
}

ion-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 117px;
    height: 24px;
    --background: #212121;
    --background-activated: #212121;
    font-family: "Nexa" !important;
    color: #dcc88d;
    font-size: 11px;
    letter-spacing: -0.01px;
    --box-shadow: none;
    --padding-top: 3px;
    font-weight: 900;
    text-transform: capitalize;
}
ion-slides{
    .sec1{
        background-color: #eceff1;
        padding: 10px 0;
    }	
}
.cmop{
	position: absolute;
    top: 5px;
    width: 30px;
    padding: 5px;
    border: 2px solid #d5c289;
    height: 28px;
    background: #dcc88d;
}
