<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" defaultHref="/homenew"></ion-back-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user">
  <div class="menu__header">
    <div class="user__image">
      <img src="assets/user.jpg" />
    </div>
    <h6>{{user_name}}</h6>
    <p>{{user_mail}}</p>
    <p>+91 {{user_mobile}}</p>
    <a  class="menu__button">Wallet: &#8377;{{wallet | number : '.2-2'}}</a>
  </div>

  <div class="order-summary">
    <a class="edit_button" (click)="editProfile()"><ion-icon name="pencil-sharp"></ion-icon> Edit</a>
    <h6>{{user_name}}</h6>
    <p><span>{{user_mail}}</span></p>
    <p><span>+91 {{user_mobile}}</span></p>
  </div>
  <div class="order-summary">
    <a class="edit_button" (click)="editProfile()"><ion-icon name="pencil-sharp"></ion-icon> Edit</a>
    <p><span>Date of Birth:</span> {{user.dob|date:'dd/MM/yyyy'}}</p>
    <p><span>Gender:</span> 
      <span *ngIf="user.gender=='1'">Male</span>
      <span *ngIf="user.gender=='2'">Female</span>
    </p>
    <!-- <p><span>Address:</span> 2/28 Samajghar, Golf Green<br/>Kolkata - 700121 </p> -->
  </div>
</ion-content>
