<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
  		<ion-back-button icon="arrow-back-outline" defaultHref=""></ion-back-button>
  	</ion-buttons>
    <ion-title>Food Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<div class="drink_items">
		<ion-item *ngFor="let foodCart of addToFoodCart.foodCart;let i =index">
		    <ion-grid>
		      	<ion-row class="ion-align-items-center">
		    		<ion-col size="7">
		    			<div class="drink_content">
		    				<h3 class="m-0">{{foodCart.itemName}}</h3>
		    			</div>
				    </ion-col>
				    <ion-col size="5" class="ion-no-padding">
				    	<div class="drink_content">
				      		<h3 class="m-0 ion-text-right"></h3>
				      	</div>
				    </ion-col>
				</ion-row>
				<ion-row class="ion-align-items-center">
		    		<ion-col size="7">
		    			<div class="drink_content drink_content--mod">
		    				<p class="short_count ion-text-left">{{foodCart.quantity}} x $ {{foodCart.price}}</p>
		    				<button (click)="removeItem(foodCart)"><img src="assets/remove.png"></button>
		    			</div>
				    </ion-col>
				</ion-row>
		    </ion-grid>
		</ion-item>

		<ion-item>
		    <ion-grid>
		      	<ion-row class="ion-align-items-center">
		    		<ion-col size="7">
		    			<div class="drink_content">
		    				<h3 class="m-0">Subtotal</h3>
		    			</div>
				    </ion-col>
				    <ion-col size="5" class="ion-no-padding">
				    	<div class="drink_content">
				      		<h3 class="m-0 ion-text-right">$ {{totalPrice | number : '.2-2'}}</h3>
				      	</div>
				    </ion-col>
				</ion-row>
		    </ion-grid>
		</ion-item>
		<ion-item>
		    <ion-grid>
		      	<ion-row class="ion-align-items-center">
		    		<ion-col size="7">
		    			<div class="drink_content">
		    				<h3 class="m-0">Grand Total</h3>
		    			</div>
				    </ion-col>
				    <ion-col size="5" class="ion-no-padding">
				    	<div class="drink_content">
				      		<h3 class="m-0 ion-text-right">$ {{totalPrice | number : '.2-2'}}</h3>
				      	</div>
				    </ion-col>
				</ion-row>
		    </ion-grid>
		</ion-item>
	</div>
	<div class="title_bar">
		<h2 class="title">Booking for</h2>
	</div>
	<div class="select_form">
		<div class="row">
			<ion-list class="drink_items">
			  <ion-item>
				<ion-grid>
				  <ion-row class="ion-align-items-center">
					<input type="radio" name="bookingfor" value="myself" [(ngModel)]="bookingData.bookingfor">Myself
					<input type="radio" name="bookingfor" value="someoneelse" [(ngModel)]="bookingData.bookingfor">Someone else
				  </ion-row>
				</ion-grid>
			  </ion-item>
			  	<ion-row>
				<ion-col size="6">
					   <ion-item class="circle">
					  <ion-label>+91</ion-label>
					  <ion-input placeholder="mobile" [(ngModel)]="bookingData.mobile"></ion-input>
					</ion-item>
				</ion-col>
				<ion-col size="6">
					<ion-item class="circle">
						   <ion-input placeholder="youremail@email.com" [(ngModel)]="bookingData.email"></ion-input>
					   </ion-item>
				</ion-col>
				<ion-col size="6">
					   <ion-item class="circle">
						<ion-avatar slot="start">
							<img src="assets/calender.png">
						  </ion-avatar>
						  <ion-label>Order Date*</ion-label>
						  <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="bookingData.date"></ion-datetime>
						   <!-- <ion-input placeholder="14/02/2018"></ion-input> -->
					   </ion-item>
				</ion-col>
				<ion-col size="6">
					<ion-item class="circle">
						<ion-avatar slot="start">
							<img src="assets/clock.png">
						  </ion-avatar>
						  <ion-label>Time</ion-label>
						  <ion-datetime displayFormat="hh-mm-A" [(ngModel)]="bookingData.time"></ion-datetime>
					</ion-item>
				</ion-col>
				</ion-row>
			</ion-list>
		  </div>
	</div>
</ion-content>

<ion-footer class="ion-no-border">
  <div class="footer_content">
  	<div class="footer_item_end mw_230" (click)="payforFood()">
  		<p>Select Payment Method</p>
  		<img src="assets/arrow-right.png">
  	</div>
  </div>
</ion-footer>