<ion-content fullscreen scroll-y="false">
  <!-- <ion-slides pager="true" [options]="slideOpts"> -->
  <ion-slides pager="true">

      <ion-slide style="background-image: url(../../assets/happy-hours.jpeg);">
        <div class="slide">
          <!-- <img src="assets/slide-compare.svg"/> -->
          <h2>COMPARE</h2>
          <p>Compare LIVE prices of your drinks at multiple outlets & buy at lowest price.</p>
          <ion-button class="btn-continue" (click)="continue()">continue</ion-button>
        </div>
      </ion-slide>

      <ion-slide style="background-image: url(../../assets/VintageView-Metal-Wine-Racking-Mounted-to-Millwork-Clad-Wall.jpeg);">
        <div class="slide">
          <!-- <img src="assets/slide-vault.svg"/> -->
          <h2>RESERVE</h2>
          <p>Reserve drinks, food and table at lowest rate across multiple outlets in your city.</p>
          <ion-button class="btn-continue" (click)="continue()">continue</ion-button>
        </div>
      </ion-slide>

      <ion-slide style="background-image: url(../../assets/redeem_bg.jpeg);">
        <div class="slide">
          <!-- <img src="assets/slide-redeem.svg"/> -->
          <h2>REDEEM</h2>
          <p>Redeem your reserved drink & food and enjoy hassle free experience only through Liquidity.</p>
          <ion-button class="btn-continue" (click)="continue()">continue</ion-button>
        </div>
      </ion-slide>

  </ion-slides>
</ion-content>