<ion-content fullscreen class="ion-padding" scroll-y="false">
  <!-- <ion-slides pager="true" [options]="slideOpts"> -->
  <ion-slides pager="true">

      <ion-slide>
        <div class="slide">
          <img src="assets/compare.png"/>
          <h2>COMPARE</h2>
          <p>Compare LIVE prices of your drinks at multiple outlets & buy at lowest price.</p>
          <ion-button class="btn-continue" shape="round" (click)="continue()">SKIP</ion-button>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="slide">
          <img src="assets/reserve.png"/>
          <h2>RESERVE</h2>
          <p>Reserve drinks, food and table at lowest rate across multiple outlets in your city.</p>
          <ion-button class="btn-continue" shape="round" (click)="continue()">SKIP</ion-button>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="slide">
          <img src="assets/redeem.png"/>
          <h2>REDEEM</h2>
          <p>Redeem your reserved drink & food and enjoy hassle free experience only through Liquidity.</p>
          <ion-button class="btn-continue" shape="round" (click)="continue()">Continue</ion-button>
        </div>
      </ion-slide>

  </ion-slides>
</ion-content>